body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Main container */
.main {
    background: white;
    margin: 40px 270px;
    width: 70%;
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
    animation: fadeIn 0.6s 
ease;
}

/* Toolbar */
.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toolbar h2 {
    font-size: 24px;
    color: #333;
}

.btn {
    background: #6d28d9;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

.btn:hover {
    background: #5b21b6;
}

/* Table */
.detail-card {
    margin-top: 20px;
    background: white;
    padding: 15px;
    border-radius: 10px;
}

.payroll-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
}

.payroll-table th {
    color: black;
    padding: 10px;
    text-align: left;
}

.payroll-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

/* Status Colors */
.status-paid {
    color: green;
    font-weight: bold;
}

.status-pending {
    color: red;
    font-weight: bold;
}

/* Popup */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: white;
    padding: 20px;
    width: 350px;
    border-radius: 8px;
}

.popup-content h3 {
    margin-top: 0;
}

.popup-content input,
.popup-content select {
    width: 90%;
    padding: 8px;
    margin: 8px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
}
.popup-content select {
    width:95%;
}
.popup-buttons {
    display: flex;
    justify-content: space-between;
}

.save-btn, .close-btn {
    width: 48%;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    font-weight: bold;
}

.save-btn {
    background: #6d28d9;
    color: white;
}

.close-btn {
    background: #eee;
}
