body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #e2cbf5;
}

/* NAVBAR */
.navbar {
    height: 60px;
    background: #6d28d9;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: sticky;
    top: 0;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
}

.logout-btn {
    background: white;
    color: #6d28d9;
    padding: 6px 12px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

/* SIDEBAR */
.sidebar {
    width: 230px;
    height: 100vh;
    background: rgb(240, 240, 240);
    position: fixed;
    top: 60px;
    left: 0;
    border-right: 1px solid #ddd;
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.user-box {
    text-align: center;
    margin-bottom: 20px;
}

.user-photo {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.user-name {
    margin-top: 5px;
    font-weight: bold;
}

.menu {
    padding: 10px;
}

.menu-title {
    font-size: 14px;
    margin-bottom: 10px;
    color: #666;
}

.menu-item {
    display: block;
    padding: 10px;
    margin-bottom: 5px;
    text-decoration: none;
    color: #444;
    border-radius: 6px;
}

.menu-item:hover{
    background: #6d28d9;
    color: white;
}

/* MAIN */
.main {
    margin-left: 230px;
    padding: 20px;
    margin-top:-20px;   
}
.side-btn{
    width: 100%;
    padding: 10px;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    font-size: 16px;
    color: #444;
}
.side-btn:hover {
    background-color: #f0f0f0;
}
.nav-logo{
    width:50px;
    height: 50px;
    filter:invert(100%);    
}
.logo{
    margin-left:-1000px;
}